body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,a{ margin:0; padding:0; outline:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
body{font-family:Arial,'Times New Roman','Microsoft YaHei',SimHei;color:#333;font-size:63%;}